* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

form {
  --el-height: 150px;
  width: 320px;
  height: var(--el-height);
  margin: auto;
  margin-top: calc((100vh - var(--el-height)) / 2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding: 25px 10px;
  border: 2px solid red;

  & label {
    display: flex;
    gap: 5px;
  }

  & input {
    flex: 2;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
  background-color: rgba(0, 128, 128, 0.834);
  backdrop-filter: blur(5px);
  color: white;
}

h2 {
  text-align: center;
  height: 100%;
}

#logout {
  display: inline;
  float: right;
  margin-top: -30px;
  height: 100%;
  width: auto;
  border: none;
  border-left: 2px solid white;
  background-color: inherit;
  padding: 1px 4px;
  color: inherit;

  &>button {
    background-color: transparent;
    color: inherit;
    width: 100%;
    height: 100%;
    border: none;
    cursor: pointer;
  }
}

main {
  margin-top: 40px;
}