body {
  background-image: url("images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

li {
  list-style-type: none;
}

li a {
  color: white;
  font-weight: 600;
  text-shadow: 0 0 5px black;
}